* {
    
    padding: 0;
    margin: 0;
    
  }


#bloco-1{
    border: solid rgba(255, 21, 0, 0.809) 3px;
    background-color: orange;
    color: white;
    margin: 10px;
    padding: 10px;
    width: 40%;
    line-height: 20px;
}
#bloco-2{
    border: solid rgba(0, 128, 0, 0.216) 3px;
    background-color: green;
    color: white;
    margin: 10px;
    padding: 10px;
    width: 40%;
    line-height: 20px;
    }
#bloco-3{
    border: dashed blueviolet 3px;
        background-color: blue  ;
        color: white;
        margin: 10px;
        padding: 10px;
        width: 40%;
        line-height: 20px;
    }
#bloco-4{
    border: dashed rgb(182, 11, 11) 3px;
    background-color: red;
    color: white;
    margin: 10px;
    padding: 10px;
    width: 40%;
    line-height: 20px;
    }
